<nav class="navbar">
    <a class="navbar-link" href="/">global chat</a>
    <a class="navbar-link" href="/profile">my profile</a>
    <p class="ex-shmall to-the-right">&copy;1999 - junglecalls is a property of jungle inc.; licensed to razorpower co.</p>
</nav>