<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head', { title: 'ceo-man-123\'s private message' }); %>
    <link href="/styles/chat.css" rel="stylesheet">
    <link href="/styles/profile.css" rel="stylesheet">
</head>

<body>
    <div class="cool-content">
        <ul id="messages"></ul>
    </div>
    
    <script src="/js/ceoman.js"></script>
</body>

</html>