<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head', { title: 'flag' }); %>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <canvas></canvas>
    <script src="/js/flag.js"></script>
</body>

</html>