<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head', { title: 'flag' }); %>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <audio id="audioContainer">
        <source src="/sounds/youve-got-mail-sound.mp3" type="audio/mpeg">
    </audio>

    <canvas></canvas>
    <script src="/js/flag.js"></script>
</body>

</html>